body {
    margin: 0%;
    padding: 0%;
    font-family: Montserrat;
    overflow-x: hidden;
}
.background_3 {
    background: #E7E7F2;
    height: 1164px;
    border-radius: 0px 0px 12px 12px;
}
.background_2 {
    background: #CACADB;
       height: 1154px;
       border-radius: 0px 0px 12px 12px;
    
}
header {
    background: linear-gradient(to bottom left, #323264 0%,#323264 59.9%,#643E72 100%);
    height: 1144px;
    border-radius: 0px 0px 12px 12px;
        
   
    .wraper_logo {
        display: flex;
        flex-direction: column;
        width: 130px;
        height: 60px;    
    }
    .name_mobile {
        min-width: 69px;
        min-height: 24px;
    }

    .header_nav a {
        text-decoration: none;
    }
    .header_nav_logo {
       padding-top: 50px;
       display: flex;
       justify-content: space-between;
       width: 90%;
    }
    .header_logo_wraper {
        display: flex;
        justify-content: center;
    }
    .header_logo {
        display: flex;
        align-items: center;
    }
    .button_background {
       background: none;
       border: none;
       
    }
    .button_background:hover {
        text-transform: lowercase;
        background-color: #643E72;
    }
    .header_info button {
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        color: white;
    }
    .button_background_pink {
        background-color: #F0145A;
        border-radius: 8px;
        border-color: #F0145A;
        padding: 5px 7px;
        border-style: none;
        margin-right: 6px;
    }
    .header_info span {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: white;
        padding-right: 6px;
    }
    .header_info img {
        padding-right: 6px;
    }
    .header_info a {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: white;
    }
    .header_info a:hover {
        text-decoration: underline;
    }
    .dot {
        padding-right: 0%;
        padding-left: 6px;
    }
    .header_info {
        display: flex;
        align-items: center;
    }
    .img_size {
        width: 24px;
        height: 24px;
    }
    .header_nav_nav a {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: white;
        text-decoration: none;
    }
    .header_nav_nav a:hover {
    text-decoration: underline;
    }
   
    .header_nav_nav {
        display: flex;
        gap: 15px;
        justify-content: end;
        padding-right: 15px;
        padding-top: 16px;
    }
    
    .pink_underline {
        color: #F0145A !important;
        text-decoration: underline !important;
        
    }
   .mobile_nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding-top: 12px;
    
   }
   .wraper_mobile_nav {
    display: flex;
    justify-content: center;
   }
   .mobile_nav a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: white;
    }
    .servises_mobile {
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        color: white;
        text-decoration: none;
        padding-left: 19px;
        display: flex;
        justify-content: center;
    }
    .wraper_servises_mobile {
        display: block;
    }
    .servises_mobile span {
        width: 21px;
        height: 47px;
        margin-left: -7px;
        margin-right: 4px;
        color: #F0145A;
    }
    .wraper_burger {
        margin-right: -40px;
    }
}
@media screen and (min-width:768px) {
    .adaptive_fullscreen {
        display: none;
    }
   
}
@media screen and (max-width:768px) {
    
    .wraper_burger {
        margin-left: -15px;
        margin-bottom: -20px;
    }
    .wraper_burger :hover {
        background-color: #643E72;
    }
    .mobile_nav a {
        margin-right: 10px;
    }
    .mobile_nav a:hover {
        text-decoration: underline;
    }
    .name_mobile {
        width: 69px;
        height: 24px;
    }
    .COMPANY_mobile {
        width: 69px;
        height: 3px;
    }
    .wraper_logo {
        margin-bottom: -43px;
    }
    .servises_mobile {
        margin-left: -65px;
    }
    .servises_mobile:hover {
        text-decoration: underline;
    }
    .adaptive_display {
        display: none;
    }
    .adaptive_fullscreen {
        display: block;
    }
    .servises_mobile {
        font-size: 20px !important;
        line-height: 24px !important;
        margin-bottom: -25px;
        margin-right: -15px !important;
        
    }
    .servises_mobile span{
        margin-right: -10px !important;
    }
}

.wraper_h3_content2 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    .h3_content2 {
        width: 87%;
       
    }
    .h3_content2 a {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #24A3FF;
        text-decoration: none;
        
    }
    .h3_content2 a:hover {
        text-decoration: underline;
    }
    .h3_content2 h3 {
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        background:  linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-top: 0%;
        padding-top: 10px;
        padding-bottom: 35px;
    }
}
.wraper_content2 {
    display: flex;
    justify-content: center;

    .content2 {
        width: 90%;
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        width: 410px;
    }
    .card img {
        padding-bottom: 20px;
    }
    .card__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #24A3FF;
    }
    .card__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: white;
    }
}
@media screen and (max-width:768px) {
    header {
        height: 2850px !important;
        padding-bottom: 0% !important;
    }
    .card {
        width: 310px !important;
        
    }
    .background_2 {
        background: #CACADB;
           height: 2860px !important;
           border-radius: 0px 0px 12px 12px;
           padding-bottom: 0% !important;
    }
    .background_3 {
        background: #E7E7F2;
        height: 2870px !important;
        border-radius: 0px 0px 12px 12px;
        padding-bottom: 0% !important;
    }
    .partners_h6 h6 {
        margin-top: 20px;
    }
}
@media screen and (max-width:1024px) {
    header {
        padding-bottom: 350px;
        margin-bottom: 30px;
    }
    .background_2 {
        background: #CACADB;
        padding-bottom: 360px;
           border-radius: 0px 0px 12px 12px;
    }
    .background_3 {
        background: #E7E7F2;
        padding-bottom: 370px;
        border-radius: 0px 0px 12px 12px;
    }
    .card {
        width: 50%;
    }
    .partners {
        margin-top: 50px;
    }
}



 .partners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
    .partner1 {
        background-color: #1C4280;
    }
    .partner2 {
        background-color: #143646;
    }
    .partner3 {
        background-color: #F48B30;
    }
    .partner4 {
        background-color: #9E4DC3;
    }
    .partner5 {
        background-color: #FD9339;
    }
    .partner6 {
        background-color: #E2E2E4;
    }
    .partner7 {
        background-color: #C71C36;
    }
    .partner8 {
        background-color: #DCF3F9;
    }
    .partner9 {
        background-color: #EAEAEA;
    }
    .partner10 {
        background-color: #282240;
    }
    .partner11 {
        background-color: #1D4568;
    }
    .partner12 {
        background-color: #000000;
    }
    .partner {
        height: 120px;
        width: 25% ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 }

 .partners_h6 h6 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #323264;
   text-align: center;
   padding-top: 60px;
   padding-bottom: 30px;
}
@media screen and (max-width:1024px) {
    .partner {
        width: 33.33% !important;
    }
}
@media screen and (max-width:768px) {
    .partner {
        width: 100% !important;
    }
    .partner_none {
        display: none !important;
    }
}

hr {
    margin-top: 0%;
    margin-bottom: 0%;
    width: 88%;
    height: 2px;
    background-color:#E6E6F0 ;
    border: none;
}
.wraper_footer {
    display: flex;
    justify-content: center;
    background-color: #F5F5FA;
    padding-top: 30px;

    footer {
        width: 88%;
        display: flex;
        justify-content: space-between;

        .right_footer {
            display: flex;
            flex-direction: column;

        .right_top_footer {
            display: flex;
            align-items: center;

            span    {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #323264;
            padding-right: 10px;
            }
            a {
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                color: #24A3FF;
                text-decoration: none;
                padding-left: 10px;
            }
            a:hover {
                text-decoration: underline;
            }
        }
        }
    }
}
.right_bottom_footer {
    display: flex;
    align-items: center;
    padding-top: 28px;

    .cel {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #46466E;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    .cel:hover {
        text-decoration: underline;
    }

  a img {
    padding-right: 10px;
    }
    .link {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #24A3FF;
        text-decoration: none;
        padding-left: 10px;
    }
    .link:hover {
        text-decoration: underline;
    }
}
.left_footer {
    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #B3B3BA;
    }
}
@media screen and (max-width:786px) {
    footer {
        display: flex;
        flex-direction: column;
        .right_top_footer {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .right_bottom_footer {
            flex-direction: column ;
            gap: 10px;
        }
        .left_footer {
            display: flex;
            justify-content: center;
            padding-top: 10px;
        }
        .dot_none {
            display: none;
        }
    }
}